<div class='container px-5 px-sm-0'>
	<div class='row'>
    <%= render 'shared/user_info' %>
		<div class='col-md-8 offset-md-1'>
    <h2>Books</h2>
      <table class='table'>
        <tbody>
          <tr>
            <td></td>
            <!-- 投稿したユーザー画像⁺改行してUserリンク -->
            <td></td>
            <!-- タイトル→showへのリンク -->
            <td></td>
            <!-- opinion -->
            <td>
            <% if @user == current_user %>
            </td>
            <!-- edit -->
            <td>
            <% if @user == current_user %>
            </td>
            <!-- delete -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>